@{
    ViewBag.Title = "Редактирование рем. события для ЖД";
    CommonRepairEvent commonEventDetails = ViewBag.commonEventDetails;
    RepairRailwayEvent railwayEventDetails = ViewBag.railwayEventDetails;
}

<h1 class="display-4 text-center">Редактировать рем. событие для ЖД</h1>
<div class="main-content">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()

        <div>
            <p>Ответственное депо</p>
            @Html.DropDownList("DepotID", (SelectList)ViewBag.depots, commonEventDetails.DepotID)
        </div>
        <br />
        <div>
            <p>Дата начала</p>
            @Html.TextBox("BeginDate", commonEventDetails.BeginDate.HasValue ? commonEventDetails.BeginDate.Value.ToString("yyyy-MM-dd") : "", new { min="1800-01-01", type="date" })
        </div>
        <br />
        <div>
            <p>Дата окончания</p>
            @Html.TextBox("EndDate", commonEventDetails.EndDate.HasValue ? commonEventDetails.EndDate.Value.ToString("yyyy-MM-dd") : "", new { min="1800-01-01", type="date" })
        </div>
        <br />
        <div>
            <p>Текущий статус</p>
            @Html.DropDownList("Status", new SelectList(new [] { "В очереди", "В процессе", "Завершено", "Приостановлено", "Заброшено" }, commonEventDetails.Status))
        </div>
        <br />
        <div>
            <p>Детальное описание (необязательно)</p>
            @Html.TextBox("Description", commonEventDetails.Description)
        </div>
        <br />
        <div>
            <p>Номер участка</p>
            @Html.DropDownList("RegionID", (SelectList)ViewBag.regions)
        </div>
        <br />
        <div>
            <p>Начальная точка (км)</p>
            @Html.TextBox("BeginPoint", railwayEventDetails.BeginPoint, new { type="number", min=0, required="" })
        </div>
        <br />
        <div>
            <p>Конечная точка (км)</p>
            @Html.TextBox("EndPoint", railwayEventDetails.EndPoint, new { type="number", min=0, required="" })
        </div>
        <br />

        <a href="#" onclick="window.history.back()">Отмена</a>
        <input class="button green" type="submit" value="Сохранить изменения" />
    }
</div>