@{
    ViewBag.Title = "Список событий по ремонту ЖД";
}

<h1 class="display-4 text-center">События по ремонту ЖД</h1>
<div class="main-content">

    <div class="top-panel">
        @using (Html.BeginForm())
        {
            <span>Отфильтровать по статусу</span>
            @Html.DropDownList("StatusFilter", new SelectList(new [] { "Выбрать все", "В очереди", "В процессе", "Завершено", "Приостановлено", "Заброшено" }))
            <input class="button gray" type="submit" value="Применить" />
        }

        @Html.ActionLink("Добавить ремонтное событие", "AddRepairRailwayEvent", new EmptyResult(), new { @class = "button green" })
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Номер события</th>
                    <th>Номер участка</th>
                    <th>Ответственное депо</th>
                    <th>Начальная точка (км)</th>
                    <th>Конечная точка (км)</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th>Статус</th>
                    <th>Описание</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var repairEvent in ViewBag.RailwayEvents)
                {
                    <tr>
                        <td>
                        @repairEvent.mainValues.ID
                        </td>
                        <td>
                        @repairEvent.mainValues.RegionID
                        </td>
                        <td>
                        @repairEvent.DepotName
                        </td>
                        <td>
                        @repairEvent.mainValues.BeginPoint
                        </td>
                        <td>
                        @repairEvent.mainValues.EndPoint
                        </td>
                        <td>
                        @if (repairEvent.extraValues.BeginDate != null)
                        {
                            @repairEvent.extraValues.BeginDate.ToShortDateString()
                        }
                        else
                        {
                                    <span>Дата не установлена</span>
                        }
                        </td>
                        <td>
                        @if (repairEvent.extraValues.EndDate != null)
                        {
                            @repairEvent.extraValues.EndDate.ToShortDateString()
                        }
                        else
                        {
                                    <span>Дата не установлена</span>
                        }
                        </td>
                        <td>
                        @repairEvent.extraValues.Status
                        </td>
                        <td>
                        @repairEvent.extraValues.Description
                        </td>
                        <td>
                            <div class="edit-buttons">
                                @Html.ActionLink("Редактировать", "EditRepairRailwayEvent", new { id = repairEvent.mainValues.ID }, new { @class = "button blue" })
                                @Html.ActionLink("Удалить", "DeleteRepairRailwayEvent", new { id = repairEvent.mainValues.ID }, new { style = "color: red" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>