@{
    ViewBag.Title = "Список событий по ремонту вагонов";
}

<h1 class="display-4 text-center">События по ремонту вагонов</h1>
<div class="main-content">

    <div class="top-panel">
        @using (Html.BeginForm())
        {
            <span>Отфильтровать по статусу</span>
            @Html.DropDownList("StatusFilter", new SelectList(new [] { "Выбрать все", "В очереди", "В процессе", "Завершено", "Приостановлено", "Заброшено" }))
            <input class="button gray" type="submit" value="Применить" />
        }
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Номер события</th>
                    <th>Номер вагона</th>
                    <th>Ответственное депо</th>
                    <th>Тип ремонта</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th>Статус</th>
                    <th>Описание</th>
                    <th>Список ремонтируемых частей</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var repairEvent in ViewBag.VanEvents)
                {
                    <tr>
                        <td>
                            @repairEvent.mainValues.ID
                        </td>
                        <td>
                            @repairEvent.mainValues.VanID
                        </td>
                        <td>
                            @repairEvent.DepotName
                        </td>
                        <td>
                            @repairEvent.mainValues.Type
                        </td>
                        <td>
                            @if (repairEvent.extraValues.BeginDate != null)
                            {
                                @repairEvent.extraValues.BeginDate.ToShortDateString()
                            }
                            else
                            {
                                <span>Дата не установлена</span>
                            }
                        </td>
                        <td>
                            @if (repairEvent.extraValues.EndDate != null)
                            {
                                @repairEvent.extraValues.EndDate.ToShortDateString()
                            }
                            else
                            {
                                <span>Дата не установлена</span>
                            }
                        </td>
                        <td>
                            @repairEvent.extraValues.Status
                        </td>
                        <td>
                            @repairEvent.extraValues.Description
                        </td>
                        <td>
                            @repairEvent.mainValues.ListOfRepairedParts
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>